build-ubuntu:
  image: ubuntu:rolling
  before_script:
    - apt-get update
    - apt-get install -q -y --no-install-recommends meson valac gcc gettext itstool libgtk-3-dev libgtksourceview-3.0-dev libmpc-dev libmpfr-dev libsoup2.4-dev libxml2-dev
  script:
    - meson _build
    - ninja -C _build install

build-fedora:
  image: fedora:latest
  before_script:
    - dnf install -y meson vala itstool gtk3-devel gtksourceview3-devel libmpc-devel mpfr-devel libsoup-devel libxml2-devel ImageMagick xorg-x11-server-Xvfb
  script:
    - meson _build
    - ninja -C _build install
    - Xvfb -fp /usr/share/X11/fonts/misc :0 -screen 0 1280x1024x24&
    - sleep 5
    - DISPLAY=:0 _build/src/gnome-calculator&
    - sleep 5
    - DISPLAY=:0 import -window root screenshot.jpg
    - sleep 5
  artifacts:
    paths:
    - screenshot.jpg
    expire_in: 1 week
