*~
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
depcomp
gnome-doc-utils.make
install-sh
missing
mkinstalldirs
omf.make
Makefile
Makefile.in
Makefile.in.in
.deps
stamp-h1
xmldocs.make
data/gcalctool.desktop
data/org.gnome.gcalctool.gschema.xml
data/org.gnome.gcalctool.gschema.valid
help/[^C]*/*.page
help/[^C]*/legal.xml
help/*/*.gmo
help/*/*.mo
po/POTFILES
po/stamp-it
po/*.gmo
po/.intltool-merge-cache
src/*.o
src/mp-equation-lexer.c
src/mp-equation-lexer.h
src/mp-equation-parser.c
src/mp-equation-parser.h
src/gcalccmd
src/gcalctool
