aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
gnome-doc-utils.make
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
Makefile
Makefile.in
missing
mkinstalldirs
omf.make
stamp-h1
xmldocs.make
*~
