.before_script_template: &ubuntu_before_script
  image: ubuntu:rolling
  before_script:
    - apt-get update
    - apt-get install -q -y --no-install-recommends meson valac gcc gettext itstool libgtk-3-dev libgtksourceview-3.0-dev libmpc-dev libmpfr-dev libsoup2.4-dev libxml2-dev lcov

.before_script_template: &fedora_before_script
  image: fedora:latest
  before_script:
    - dnf install -y meson vala itstool gtk3-devel gtksourceview3-devel libmpc-devel mpfr-devel libsoup-devel libxml2-devel lcov

.build_template: &meson_build
  stage: build
  script:
    - meson _build . -Db_coverage=true
    - ninja -C _build install
  artifacts:
    paths:
      - _build/
    expire_in: 2 hours

.test_template: &meson_test
  stage: test
  script:
    - ninja -C _build test
    - ninja -C _build coverage-html

build:fedora:
  <<: *fedora_before_script
  <<: *meson_build

build:ubuntu:
  <<: *ubuntu_before_script
  <<: *meson_build

build:snap:
  stage: build
  image: snapcore/snapcraft
  before_script:
    - apt-get install -q -y --no-install-recommends software-properties-common
    - add-apt-repository -yu ppa:ubuntu-desktop/gnome-3-26
  script: snapcraft
  allow_failure: true
  artifacts:
    paths: ['./*.snap']
    expire_in: 3 days

test:ubuntu:
  dependencies:
    - build:ubuntu
  <<: *ubuntu_before_script
  <<: *meson_test

test:fedora:
  dependencies:
    - build:fedora
  <<: *fedora_before_script
  <<: *meson_test
