.sourceview {
  padding: 0px 12px;
  padding-bottom: 8px;
  padding-left: 0px;
  font-size: 1.4em;

}

.info-view {
  padding: 0px;
  padding-bottom: 4px;
}

.equation-symbol {
  padding: 0px 12px;
}

mathdisplay {
  border: solid @borders 1px;
  margin: 6px 12px 0 12px;
  transition: 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

mathdisplay:last-child {
  margin-bottom: 12px;
}

clamp.small mathdisplay {
  border-width: 1px 0;
  margin: 6px 0 0 0;
}

clamp.small mathdisplay:first-child {
  border-top-width: 0;
  margin: 0;
}

clamp.small mathdisplay:last-child {
  border-bottom-width: 0;
}

clamp > grid > :first-child {
  transition: 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  margin-top: 12px;
}

clamp.small > grid > :first-child {
  margin-top: 0;
}

window > deck > box > clamp > grid > box {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
}

/* This affects the keyboard mode */
window > deck > box > clamp > grid > mathconverter {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
}

.math-buttons button {
  font-size: 1.1em;
}

  .math-buttons .number-button {
  }

  .math-buttons .numeric-point-button {
  }

  .math-buttons .fx-button {
  }

.bit-toggle-button {
  padding: 1px;
  min-width: 9px;
}

.bit-marker-label {
  margin: 0 12px;
}

.history-view {
  border-width: 0 0 1px 0;
}

.history-view, .history-entry {
  background-color: shade(@theme_base_color, .95);
}

.history-view:backdrop, .history-entry:backdrop {
  background-color: shade(@theme_unfocused_base_color, .97);
}

.history-entry {
  border-top: 1px groove @borders;
  padding: 6px 3px;
  font-size: 1.3em;
}

  .history-entry .equation-label {
    /* word-spacing: 2px; Doesn't work (yet) in GTK */
  }

  .history-entry .equation-symbol {
    font-weight: lighter;
  }

  .history-entry .answer-label {
  }

/* Used for MathVariablePopover */
row.popover-row {
  border-bottom: 1px groove @borders;
  min-height: 35px;
}
