/* Recoloring of the app comes below… */
.suggested-action {
  background-color: @orange_4;
}

.function-button,
.clear-button,
.procent-button,
.numeric-point-button,
.parenthesis-button,
.operator-button,
.fx-button button,
.memory-button button {
  background-color: @dark_3;
}

.number-button {
  background-color: @dark_1;
}
