.history-view {
  border-width: 0 0 1px 0;
}

.math-buttons button {
}

  .math-buttons .number-button {
  }

  .math-buttons .numeric-point-button {
  }

  .math-buttons .fx-button {
  }

.bit-toggle-button {
  padding: 1px;
  min-width: 9px;
}

.bit-marker-label {
}

.history-entry {
  background-color: @theme_bg_color;
  border-bottom: 1px groove @borders;
  font-size: 0.75em;
  padding: 6px;
}

  .history-entry:last-child {
    border-width: 0px;
  }

  .history-entry .equation-label {
    /* word-spacing: 2px; Doesn't work (yet) in GTK */
  }

  .history-entry .equation-symbol {
    font-weight: lighter;
  }

  .history-entry .answer-label {
  }
