.history-view {
  border-width: 0 0 1px 0;
}

.math-buttons button {
}

  .math-buttons .number-button {
  }

  .math-buttons .numeric-point-button {
  }

  .math-buttons .fx-button {
  }

.bit-toggle-button {
  padding: 1px;
  min-width: 9px;
}

.bit-marker-label {
}

